<div
  class="navbar-expand-lg navbar-dark bg-info flex-row"
>
<div class="navbar-header"><a class=" ml-0 mr-4 mx-sm-2 mx-md-3 mr-lg-5 my-2 my-lg-0 px-2 text-white font-weight-bolder">
    <img [src]="imageUrl" height="40" width="40" />&nbsp; EDAD TOKEN XCHANGE</a
  >
<a class="profile-link pull-right" routerLink="settings">
  <span class="d-none d-lg-inline mr-0 text-gray-600 small">{{
                userName
              }}</span
              ><img
                class="border rounded-circle img-profile"
                style="width: 30px; height: 30px"
                [src]="user"
              />
</a>
      <div class="dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a
          class="nav-link"
          id="navbarDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
    <i
      class="fas fa-ellipsis-v"
      style="font-size:20px;padding: 2px"
    ></i>fsfsf
</a
        >

        <div
          class="dropdown-content bg-dark text-white-75 pb-2 pt-1"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item text-white-75 px-2" routerLink="products" (click)='toggleArial()'
            ><i
              class="fas fa-anchor"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Products</a
          >
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item text-white-75 px-2" routerLink="aboutus" (click)='toggleArial()'
            ><i
              class="fas fa-info"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;About us</a
          >
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fas fa-question"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;FAQs</a
          >

          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fas fa-info-circle"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Help</a
          >
        </div>
      </div>
  </div>
</div>

<router-outlet> </router-outlet>
<!--footer -->
<div class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mx-auto">
  <div class="small text-center text-info">
    &copy; 2020 - EDADCOINBOX –SMC LTD
  </div>
</div>
