.card-body{
  border-radius: 0.3rem;
  margin-top: 1.8rem;
}
.bg-primary{
  background-color: #027575 !important;
}
.text-primary{
  color: #027575 !important;
}
.card-title{
  border-radius: 2px;
}

