<div
  class="container-fluid d-flex flex-row justify-content-center my-0 py-0 shadow-lg col-xs-12"
>
  <div
    class="jumbotron-fluid mx-0 px-0 mb-3 mb-xl-0 pb-4 pb-xl-0 col-12 col-md-10"
  >
    <div
      class="head-container container justify-content-center mx-0 mx-md-2 px-0 mt-0"
    >
      <div class="row d-flex mx-0 mx-sm-3 px-0">
        <div
          class="head-col-1 col-5 col-md-6 col-xl-5 pt-3 pt-sm-2 pt-lg-4 px-4 shadow"
        >
          <a routerLink="../loginpage" class="text-secondary pointerCursor" tooltip="Back" placement="right"
            ><i class="fas fa-chevron-left fa-2x"></i
          ></a>
        </div>
        <div
          class="head-col-2 col-9 col-md-8 col-xl-7 pt-3 pt-sm-2 pt-lg-4 shadow"
        >
          <h3 class="rub-head4 text-brown text-center font-weight-bold py-1">
            FORGOT PIN
          </h3>
        </div>
      </div>
    </div>
    <div
      class="body-container container d-flex flex-row justify-content-center col-12 col-sm-9 col-lg-8 mx-0 mx-md-3 mx-xl-5 px-0 px-xl-5 shadow"
    >
      <div class="body-row row mx-0 mx-xl-3 px-0 px-xl-5">
        <div class="col-12 mt-5 mb-2 py-5 justify-content-between">
          <h4 class="text-center text-info">
            Contact EdadTokenXchange customer service for a
            One Time Password (OTP).
          </h4>
        </div>
        <div class="col-12 mt-2 mb-5 py-5 justify-content-between">
          <p class="text-center text-primary">
            If you have an OTP,
            <a class="text-brown" routerLink="../loginpage">  Login</a>,  and
            please make sure you reset your PIN.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
