<div
  class="container-fluid d-flex flex-row justify-content-center my-0 py-0 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-3 mb-xl-0 pb-4 pb-xl-0 col-12 col-md-10">
    <div
      class="head-container container justify-content-center mx-0 mx-md-2 px-0 px-lg-1 mt-0"
    >
      <div class="row d-flex mx-0 mx-sm-3 mx-lg-5 px-0 px-lg-3 px-xl-4">
        <div class="head-col-1 col-5 col-md-6 col-xl-5 pt-3 pt-sm-2 pt-lg-4 px-4 shadow">
          <a routerLink="../register" class="text-secondary pointerCursor" tooltip="Back" placement="right"
            ><i class="fas fa-chevron-left fa-2x"></i
          ></a>
        </div>
        <div class="head-col-2 col-9 col-md-8 col-xl-7 pt-3 pt-sm-2 pt-lg-4 shadow">
          <h3 class="rub-head4 text-brown text-center font-weight-bold py-1">
            EDAD REGISTRATION
          </h3>
        </div>
      </div>
    </div>
    <div
      class="body-container container d-flex flex-row justify-content-center col-12 mx-0 px-0 px-xl-5"
    >
    <div class="card-body bg-whiteb justify-content-center mt-1 mt-sm-0 pt-2 mb-0 pb-4 mx-lg-5 shadow-lg">
        <div class="head-icon d-flex justify-content-center mt-2 mb-0 pb-0">
          <i class="fas fa-praying-hands fa-2x text-brown mx-auto"></i>
        </div>
        <h4
          class="text-brown d-flex justify-content-center text-uppercase my-2 pt-1"
        >
          Smart God's Box
        </h4>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group text-primary">
            <label
              for="churchName"
              [ngClass]="fval.churchName.valid ? 'text-success' : ''"
              ><i *ngIf="fval.churchName.valid" class="material-icons"
                >check_circle</i
              >Church Name</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-church text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="churchName"
                formControlName="churchName"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.churchName.touched || fval.churchName.dirty) &&
                    fval.churchName.errors
                }"
                placeholder="Enter Church Name"
                autocomplete="off"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.churchName.touched || fval.churchName.dirty) &&
                fval.churchName.errors?.required
              "
            >
              The Church Name is required!
            </div>
          </div>

          <div class="form-group text-primary">
            <label
              for="nameBoxKeeper"
              [ngClass]="fval.nameBoxKeeper.valid ? 'text-success' : ''"
              ><i *ngIf="fval.nameBoxKeeper.valid" class="material-icons"
                >check_circle</i
              >Box Keeper Name</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-user text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="nameBoxKeeper"
                formControlName="nameBoxKeeper"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.nameBoxKeeper.touched || fval.nameBoxKeeper.dirty) &&
                    fval.nameBoxKeeper.errors
                }"
                placeholder="Enter Box Keeper Name"
                autocomplete="off"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.nameBoxKeeper.touched || fval.nameBoxKeeper.dirty) &&
                fval.nameBoxKeeper.errors?.required
              "
            >
              The Box Keeper Name is required!
            </div>
          </div>
          <div class="form-group text-primary">
            <label
              for="titleBoxKeeper"
              [ngClass]="fval.titleBoxKeeper.valid ? 'text-success' : ''"
              ><i *ngIf="fval.titleBoxKeeper.valid" class="material-icons"
                >check_circle</i
              >Box Keeper Title</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-tag text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="titleBoxKeeper"
                formControlName="titleBoxKeeper"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.titleBoxKeeper.touched ||
                      fval.titleBoxKeeper.dirty) &&
                    fval.titleBoxKeeper.errors
                }"
                placeholder="Enter Box Keeper Title"
                autocomplete="off"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.titleBoxKeeper.touched || fval.titleBoxKeeper.dirty) &&
                fval.titleBoxKeeper.errors?.required
              "
            >
              The Box Keeper Title is required!
            </div>
          </div>
          <div class="form-group text-primary">
            <label
              for="national_id"
              [ngClass]="fval.national_id.valid ? 'text-success' : ''"
              ><i *ngIf="fval.national_id.valid" class="material-icons"
                >check_circle</i
              >National IDno.</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-tag text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="national_id"
                formControlName="national_id"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.national_id.touched || fval.national_id.dirty) &&
                    fval.national_id.errors
                }"
                placeholder="Enter National ID number(NIN)"
                autocomplete="off"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.national_id.touched || fval.national_id.dirty) &&
                fval.national_id.errors?.required
              "
            >
              The national id number is required!
            </div>
            <label
              class="col"
              *ngIf="
                (fval.national_id.touched || fval.national_id.dirty) &&
                fval.national_id.invalid
              "
              [ngClass]="
                fval.national_id.errors?.maxlength ||
                fval.national_id.errors?.minlength
                  ? 'text-danger'
                  : 'text-danger'
              "
            >
              <i class="material-icons">{{
                fval.national_id.errors?.minlength ||
                fval.national_id.errors?.maxlength
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Enter Valid NIN!
            </label>
          </div>

          <div class="form-group text-primary">
            <label
              for="main_contact_number"
              [ngClass]="fval.main_contact_number.valid ? 'text-success' : ''"
              ><i *ngIf="fval.main_contact_number.valid" class="material-icons"
                >check_circle</i
              >Phone Number</label
            >
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-phone text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="main_contact_number"
                formControlName="main_contact_number"
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.main_contact_number.touched ||
                      fval.main_contact_number.dirty) &&
                    fval.main_contact_number.errors
                }"
                placeholder="e.g. 07XXXXXXXX"
                autocomplete="off"
              />
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.main_contact_number.touched ||
                  fval.main_contact_number.dirty) &&
                fval.main_contact_number.errors?.required
              "
            >
              The phone number is required!
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.main_contact_number.touched ||
                  fval.main_contact_number.dirty) &&
                fval.main_contact_number.errors?.hasNumber
              "
            >
              The phone number should be equal to 10 "digits"!
            </div>
          </div>

          <div class="form-group text-primary">
            <label for="sex" [ngClass]="fval.sex.valid ? 'text-success' : ''"
              ><i *ngIf="fval.sex.valid" class="material-icons">check_circle</i
              >Gender</label
            >
            <input
              type="text"
              list="sex"
              formControlName="sex"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.sex.touched || fval.sex.dirty) && fval.sex.errors
              }"
              autocomplete="off"
              placeholder="Select The Gender"
            />
            <datalist id="sex" class="bg-danger">
              <option>Male</option>
              <option>Female</option>
            </datalist>
            <div
              class="text-danger col"
              *ngIf="
                (fval.sex.touched || fval.sex.dirty) &&
                fval.sex.errors?.required
              "
            >
              Gender is required!
            </div>
          </div>

          <div class="form-group text-primary">
            <label
              for="country_region"
              [ngClass]="fval.country_region.valid ? 'text-success' : ''"
              ><i *ngIf="fval.country_region.valid" class="material-icons"
                >check_circle</i
              >Country Region</label
            >

            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-map-marker text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>

              <select
                formControlName="country_region"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.country_region.touched ||
                      fval.country_region.dirty) &&
                    fval.country_region.errors
                }"
                autocomplete="off"
                placeholder="Select The Country Region"
                (input)="setCountryRegionId($event)"
              >
                <option disabled></option>
                <option *ngFor="let item3 of countryRegions">
                  {{ item3.country_region_name }}
                </option>
              </select>
            </div>
            <div
              class="text-danger col"
              *ngIf="
                (fval.country_region.touched || fval.country_region.dirty) &&
                fval.country_region.errors?.required
              "
            >
              The country region is required!
            </div>

            <div
              class="text-danger col"
              *ngIf="
                (fval.country_region.touched || fval.country_region.dirty) &&
                fval.country_region.errors?.belongTocountry_regions
              "
            >
              Please select a valid country region!
            </div>

            <ngx-alerts></ngx-alerts>
          </div>
          <div class="form-group text-primary">
            <label
              for="password"
              [ngClass]="fval.password.valid ? 'text-success' : ''"
              ><i *ngIf="fval.password.valid" class="material-icons"
                >check_circle</i
              >PIN</label
            >

            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i
                    class="fas fa-lock text-primary mx-auto"
                    style="size: 50px"
                  ></i>
                </div>
              </div>
              <input
                id="password"
                formControlName="password"
                [type]="fieldType ? 'text' : 'password'"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    (fval.password.touched || fval.password.dirty) &&
                    fval.password.errors
                }"
                placeholder="Enter PIN"
                autocomplete="off"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fas text-primary"
                    [ngClass]="{
                      'fa-eye-slash': !fieldType,
                      'fa-eye': fieldType
                    }"
                    (click)="toggleFieldType()"
                  ></i>
                </span>
              </div>
            </div>

            <label
              class="text-danger col"
              *ngIf="
                (fval.password.touched || fval.password.dirty) &&
                fval.password.errors?.required
              "
            >
              PIN is Required!
            </label>

            <label
              class="col"
              *ngIf="
                (fval.password.touched || fval.password.dirty) &&
                fval.password.invalid
              "
              [ngClass]="
                fval.password.errors?.required ||
                fval.password.errors?.minlength
                  ? 'text-danger'
                  : 'text-danger'
              "
            >
              <i class="material-icons">{{
                fval.password.errors?.required ||
                fval.password.errors?.minlength
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Minimum of four digits allowed!
            </label>
            <label
              class="col"
              *ngIf="
                (fval.password.touched || fval.password.dirty) &&
                fval.password.invalid
              "
              [ngClass]="
                fval.password.errors?.required ||
                fval.password.errors?.minlength
                  ? 'text-danger'
                  : 'text-danger'
              "
            >
              <i class="material-icons">{{
                fval.password.errors?.required ||
                fval.password.errors?.maxlength
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Maximum four digits allowed!
            </label>

            <label
              class="col"
              *ngIf="
                (fval.password.touched || fval.password.dirty) &&
                fval.password.invalid
              "
              [ngClass]="
                fval.password.hasError('required') ||
                fval.password.hasError('hasNumber')
                  ? 'text-danger'
                  : 'text-danger'
              "
            >
              <i class="material-icons">{{
                fval.password.hasError("required") ||
                fval.password.hasError("hasNumber")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Only digits are Allowed!
            </label>
          </div>
        <div class="form-group text-primary">
          <label
            for="confirmPassword"
            [ngClass]="fval.confirmPassword.valid ? 'text-info' : ''"
            >Confirm PIN<i
              *ngIf="fval.confirmPassword.valid"
              class="fas fa-approved"
              ></i
            ></label
          >

          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-lock text-primary mx-auto"
                  style="size: 50px"
                ></i>
              </div>
            </div>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              [type]="fieldType ? 'text' : 'password'"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.confirmPassword.touched ||
                    fval.confirmPassword.dirty) &&
                  fval.confirmPassword.errors
              }"
              placeholder="Confirm your PIN"
              autocomplete="off"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-eye-slash': !fieldType,
                    'fa-eye': fieldType
                  }"
                  (click)="toggleFieldType()"
                ></i>
              </span>
            </div>
          </div>

          <div
            class="text-danger col"
            *ngIf="fval.confirmPassword.errors?.NoPasswordMatch"
          >
            PINs do not match!
          </div>
          <div
            class="text-danger col"
            *ngIf="
              fval.confirmPassword.errors?.required &&
              (fval.confirmPassword.touched || fval.confirmPassword.dirty)
            "
          >
            Please confirm your PIN!
          </div>
        </div>
          <div class="d-flex my-2 py-2 mx-auto">
            <button
              type="submit"
              class="btn btn-info col-5 mx-auto"
              [disabled]="!userForm.valid"
            >
              Register
            </button>

            <button
              type="button"
              class="btn btn-info col-5 mx-auto"
              (click)="returnHome()"
              routerLink="/authpage/loginpage"
            >
              Cancel
            </button>
            <ngx-spinner
              class="bg-info"
              size="medium"
              type="ball-scale-multiple"
            >
              <p class="text-light">Please wait...</p>
            </ngx-spinner>

            <label class="col" *ngIf="errored" class="text-danger">
              <i class="material-icons">Cancel</i>

              <ngx-alerts></ngx-alerts>
            </label>

            <label class="col" *ngIf="posted" class="text-info">
              <i class="material-icons">check_circle</i>
              <ngx-alerts></ngx-alerts>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
