<div class="flux-container" [attr.theme-layout]="themeLayout" [attr.device-type]="setDeviceType">
  <div class="overlay-box"
    *ngIf="setVerticalNavbarEffect === 'overlay' && setDefaultNavbar === 'offcanvas' && setToggleStatus === false"
    (click)="changeTheToggleStatus()"></div>
  <div class="overlay-box"
    *ngIf="setNavLayout === 'horizontal' && setDeviceType === 'mobile' && setToggleStatus === false"
    (click)="changeTheToggleStatus()"></div>
  <div class="flux-wrapper">

    <app-headerx [navLayout]="setNavLayout" [defaultNavbar]="setDefaultNavbar" [toggleNavbar]="setToggleNavbar"
      [toggleStatus]="setToggleStatus" [navbarEffect]="setVerticalNavbarEffect" [headerColorTheme]="setHeaderColorTheme"
      [navbarColorTheme]="setNavbarColorTheme" [activeNavColorTheme]="setActiveNavColorTheme"
      [headerHeight]="setHeaderHeight" [leftHeaderColorTheme]="setLeftHeaderColorTheme"
      [collapsedLeftHeader]="setCollapsedLeftHeader" [deviceType]="setDeviceType"></app-headerx>

    <app-left-panel1 [navLayout]="setNavLayout" [defaultNavbar]="setDefaultNavbar" [toggleNavbar]="setToggleNavbar"
      [toggleStatus]="setToggleStatus" [navbarEffect]="setVerticalNavbarEffect" [headerColorTheme]="setHeaderColorTheme"
      [navbarColorTheme]="setNavbarColorTheme" [activeNavColorTheme]="setActiveNavColorTheme"
      [deviceType]="setDeviceType">
    </app-left-panel1>

    <app-content-section1 [navLayout]="setNavLayout" [defaultNavbar]="setDefaultNavbar" [toggleNavbar]="setToggleNavbar"
      [toggleStatus]="setToggleStatus" [navbarEffect]="setVerticalNavbarEffect" [headerColorTheme]="setHeaderColorTheme"
      [navbarColorTheme]="setNavbarColorTheme" [activeNavColorTheme]="setActiveNavColorTheme"
      [deviceType]="setDeviceType">
    </app-content-section1>

    <app-right-panel1></app-right-panel1>

  </div>
</div>
