<div
  class="container-fluid d-flex flex-row justify-content-center mb-5 mt-md-1 pt-md-0 pt-3 pt-md-5 pt-lg-5 pb-5 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mb-5 pb-5">
    <div class="container mt-3 mx-0">
      <div class="row">
        <div class="col-12">
          <h4
            class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
          >
            REGISTER AS
          </h4>
        </div>
      </div>
    </div>
    <div class="container mt-3 mx-0">
    <div class="row">
      <div class="col-6">
        <a class="text-brown pointerCursor" (click)='navigation1()'><div class="card shadow-lg">
          <div class="card-body">Admin</div>
        </div></a>
      </div>
      <div class="col-6">
        <div class="card shadow-lg">
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
