// #################### Common Header Style ######################################
.navbar-toggler-icon {
  // color:#000;
  border:none;
}
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active{
  background:none;
  border:none;
  // color:#000;
  // // and so on according to what style u want...
}
button.navbar-toggle:hover, button.navbar-toggle:focus{
  background:none;
  border:none;
  // color:#000;
  // // and so on according to what style u want...
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 0rem;
}

.navbar-nav {
  position: absolute;
  z-index: 999;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding-left: 8px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 0px;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: none;
}

.dropdown-item {
  background-color: none;
}

.dropdown-content .dropdown-item:hover {
  background-color: transparent;
  color: rgb(172, 104, 2) !important;
}
.dropdown-content .dropdown-item:active {
  background-color: transparent !important;
  color: rgb(172, 104, 2) !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  background-color: transparent;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-right: .35rem;
    margin-right: .35rem;
    font-size: 1.1rem;
    height: 2.9rem;
}



//media queries
@media (min-width: 320px) {
}

@media (min-width: 360px) {
}

@media (min-width: 375px) {
}

@media (min-width: 410px) {
  .navbar-brand {
    padding-right: 50px !important;
    margin-right: 30px !important;
  }
}

@media (min-width: 414px) {
  .navbar-brand {
    padding-right: 55px !important;
  }
}
@media(min-width: 438px){
  .navbar-brand {
    padding-right: 70px !important;
  }
}

@media(min-width: 455px){
  .navbar-brand {
    padding-right: 90px !important;
  }
}

@media(min-width: 474px){
  .navbar-brand {
    padding-right: 110px !important;
  }
}

@media(min-width: 495px){
  .navbar-brand {
    padding-right: 140px !important;
  }
}

@media(min-width: 526px){
  .navbar-brand {
    padding-right: 170px !important;
  }
}

@media(min-width: 540px){
  .navbar-brand {
    padding-right: 180px !important;
  }
}

@media (min-width: 575px) {
  .navbar-brand {
    padding-right: 190px !important;
  }
}
@media (min-width: 600px) {
  .navbar-brand {
    padding-right: 210px !important;
  }
}

@media (min-width: 619px) {
  .navbar-brand {
    padding-right: 230px !important;
  }
}

@media (min-width: 640px) {
  .navbar-brand {
    padding-right: 250px !important;
  }
}

@media(min-width: 662px){
  .navbar-brand {
    padding-right: 280px !important;
  }
}

@media(min-width: 690px){
  .navbar-brand {
    padding-right: 300px !important;
  }
}

@media(min-width: 720px){
  .navbar-brand {
    padding-right: 320px !important;
  }
}

@media (min-width: 740px) {
  .navbar-brand {
    padding-right: 350px !important;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-right: 370px !important;
  }
}

@media (min-width: 812px) {
  .navbar-brand {
    padding-right: 390px !important;
  }
}

@media (min-width: 840px) {
  .navbar-brand {
    padding-right: 420px !important;
  }
}

@media (min-width: 867px) {
  .navbar-brand {
    padding-right: 440px !important;
  }
}

@media (min-width: 894px) {
  .navbar-brand {
    padding-right: 460px !important;
  }
}

@media (min-width: 920px) {
  .navbar-brand {
    padding-right: 480px !important;
  }
}

@media (min-width: 950px) {
  .navbar-brand {
    padding-right: 500px !important;
  }
}

@media (min-width: 975px) {
  .navbar-brand {
    padding-right: 520px !important;
  }
}

@media (min-width: 993px) {
  .navbar-brand {
    padding-right: 180px !important;
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    margin-right: 210px !important;
    padding-right: 80px !important;
  }
  .nav-link {
    font-size: 11px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
  }
}

@media (min-width: 1045px) {
  .navbar-brand {
    padding-right: 110px !important;
  }
}

@media (min-width: 1067px) {
  .navbar-brand {
    padding-right: 130px !important;
  }
}

@media (min-width: 1100px) {
  .navbar-brand {
    padding-right: 150px !important;
  }
}

@media (min-width: 1127px) {
  .navbar-brand {
    padding-right: 170px !important;
  }
}

@media (min-width: 1150px) {
  .navbar-brand {
    padding-right: 190px !important;
  }
}

@media (min-width: 1170px) {
  .navbar-brand {
    padding-right: 210px !important;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    padding-right: 230px !important;
  }
}

@media (min-width: 1228px) {
  .navbar-brand {
    padding-right: 250px !important;
  }
}

@media (min-width: 1250px) {
  .navbar-brand {
    padding-right: 290px !important;
  }
}

@media (min-width: 1280px) {
  .navbar-brand {
    margin-left: 10px !important;
    padding-left: 7px !important;
    margin-right: 80px !important;
    padding-right: 200px !important;
  }
  .navbar-nav {
    margin-left: 120px !important;
    padding-left: 180px !important;
  }
  .nav-link {
    font-size: 15px;
  }
}

@media (min-width: 1340px) {
  .navbar-brand {
    padding-right: 240px !important;
  }
}

@media (min-width: 1378px) {
  .navbar-brand {
    padding-right: 270px !important;
  }
}
