<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark flex-row"
>
<div class="navbar-header"><a class="navbar-brand ml-0 mr-4 mx-sm-2 mx-md-3 mr-lg-5 my-2 my-lg-0 px-2 text-white font-weight-bolder">
    <img [src]="imageUrl" height="40" width="40" />&nbsp; EDAD TOKEN XCHANGE</a
  >

  <button
    class="navbar-toggler mx-0"
    type="button"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="isCollapsed"
    aria-label="Toggle navigation"
    (click)="toggleArial()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div [ngClass]="toggleClass" id="navbarSupportedContent">
    <ul class="navbar-nav mx-0 ml-lg-5 px-3 ml-xl-5 my-2 my-lg-0">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a
          class="about nav-link" routerLink="products" (click)='toggleArial()'
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i
            class="fas fa-anchor"
            style="font-size:20px;padding: 2px"
          ></i
          >&nbsp;Products</a
        >
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a
          class="about nav-link" routerLink="aboutus" (click)='toggleArial()'
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i
            class="fas fa-info-circle"
            style="font-size:20px;padding: 2px"
          ></i
          >&nbsp;About Us</a
        >
      </li>
      <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a
          class="nav-link"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i
            class="fas fa-address-book"
            style="font-size:20px;padding: 2px"
          ></i
          >&nbsp;Contact Us</a
        >

        <div
          class="dropdown-content bg-dark text-white-75 pb-2 pt-1"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fas fa-envelope"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Email</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fas fa-sms"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Text</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fab fa-facebook-square"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Facebook</a
          >

          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fab fa-twitter"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Twitter</a
          >

          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-white-75 px-2" (click)='toggleArial()'
            ><i
              class="fas fa-chalkboard-teacher"
              style="font-size:20px;padding: 2px"
            ></i
            >&nbsp;Box Number</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet> </router-outlet>
<!--footer -->
<div class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mx-auto">
  <div class="small text-center text-info">
    &copy; 2020 - EDADCOINBOX –SMC LTD
  </div>
</div>
<!--/footer-->

