


        <!-- <div class="d-flex flex-column"> -->



          <div class="container">
<div class="row d-flex flex-row justify-content-center">
 <div class="col-xs-12 "></div>
 <div class="col-xs-12 mx-2"><h3 class="text-primary mb-0">MY TOKEN AGENCY BOX</h3> </div>
 <div class="col-xs-12"></div>

</div>
          <!-- <div class="container"> -->


            <div class="row d-flex flex-row align-items-center">

              <div class="col-md-6 col-xl-6 mb-4">
                <div class="card shadow border-left-warning py-2 border border-info">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>MY TOKENS STOCK</span>
                        </div>
                        <div class="text-secondary font-weight-bold h5 mb-0" *ngFor="let balance of boxBalance"><span>EDT {{balance.BOX_BALANCE}}</span></div>
                      </div>
                      <div class="col-auto"><i class="fas fa-comments fa-2x text-secondary"></i></div>
                    </div>
                  </div>
                </div>
              </div>
           

              <div class="col-md-6 col-xl-6 mb-4">
                <div class="card shadow border-left-warning py-2 border border-info">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>MY TOKENS COMMISSION</span>
                        </div>
                        <div class="text-info font-weight-bold h5 mb-0" *ngFor="let balance of boxBalance"><span>EDT {{balance.BOX_BALANCE}}</span></div>
                      </div>
                      <div class="col-auto"><i class="fas fa-comments fa-2x text-secondary"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="row d-flex flex-column align-items-center">
              <div class="col-lg-12 col-xs-12">




      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h6 class="text-primary font-weight-bold m-0">Token Purchases Overview</h6>
            </div>
            <div class="card-body table-responsive-lg">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <table class="table table-striped">
                    <thead class="thead-light">
                      <tr class="text-info">
                        <th>Txn Id</th>
                        <th>Txn Date</th>
                        <th>Txn Time</th>
                        <th>Txn Details</th>
                        <th>Tokens Out</th>
                        <th>Tokens In</th>
                        <th>Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tokens of TxnsHistory" class="text-success">
                        <td>{{ tokens.id }}</td>
                        <td>{{ tokens.trn_date }}</td>
                        <td>{{ tokens.trn_time }}</td>
                        <td>{{ tokens.trn_narration }}</td>
                        <td>{{ tokens.debit_amount|number }}</td>
                        <td>{{ tokens.credit_amount|number }}</td>
                        <td>{{ tokens.running_balance|number }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary font-weight-bold m-0">Token Purchases Details</h6>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Projections</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">Smart Savings<span class="float-right">20%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                    style="width: 20%;"><span class="sr-only">20%</span></div>
                </div>
                <h4 class="small font-weight-bold">Smart Agency Earnings<span class="float-right">40%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    style="width: 40%;"><span class="sr-only">40%</span></div>
                </div>

              </div>
            </div>

          </div>
          <div class="col">
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-primary shadow">
                  <div class="card-body" *ngFor="let balance of boxBalance">
                    <p class="m-0">Box Shillings Equivalent</p>
                    <p class="text-white-20  small m-0">UGX:  {{balance.BOX_BALANCE*1000|number:'3.1-2'}}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-success shadow">
                  <div class="card-body">
                    <p class="m-0">Smart Savings</p>
                    <p class="text-white-20  small m-0"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-info shadow">
                  <div class="card-body" >
                    <p class="m-0">Total Transactions</p>
                    <p class="text-white-20 small m-0">{{TxnsHistory.length-1}}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-warning shadow">
                  <div class="card-body"*ngFor="let balance of boxBalance">
                    <p class="m-0">Agency Earnings</p>
                    <p class="text-white-20  small m-0">UGX: {{((balance.BOX_BALANCE-(balance.BOX_BALANCE/1.1))*1000)|number:'1.1-1'}}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-danger shadow">
                  <div class="card-body">
                    <p class="m-0">Transfers In</p>
                    <p class="text-white-20  small m-0">3</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-secondary shadow">
                  <div class="card-body">
                    <p class="m-0">Transers out</p>
                    <p class="text-white-20  small m-0">6</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>


    </div>



