.bg-light{
  margin-bottom: 1.8rem;
}
.container-fluid{
  height: 80%;
  margin-bottom: 0rem
}
.jumbotron{
  height: 95%;
  padding-bottom: 3rem
}
.btn{
  width: 100%;
}
.card-title{
  border-radius: 2px;
}
