.head-col-1{
position: relative;
background-color: #ac6802;
border-bottom-left-radius: .45rem;
z-index: 0
}
.head-col-2{
position: relative;
background-color: #d3d1d3;
border-bottom-left-radius: 90%;
border-bottom-right-radius: .45rem;
z-index: 0
}
.body-container{
  margin-top: -6.4rem;
  z-index: 1;
}
.counter-col{
  border-radius: .5rem;
}
.edad-card-1{
  border: 0;
  color: #232629 !important
}
.edad-card-1:hover{
  color: #ac6802 !important;
  border: 1px solid #232629;
  outline: 0;
}
.edad-card-1:hover .fas{
  color: #232629 !important;
}


//media queries
@media(min-width: 320px){
.head-col-1{
height: 140px;
margin-left: -0.7rem;
}
.head-col-2{
height: 140px;
margin-right: -2.2rem;
margin-left: -2rem;
}
.body-container{
  top: .8rem;
  left: 0rem;
  right: 0rem;
}
}


@media(min-width: 375px){
.jumbotron-fluid{
margin-bottom: 3rem !important;
}
.head-col-2{
margin-left: -2.2rem;
}
}

@media(min-width: 410px){
.jumbotron-fluid{
margin-bottom: 4rem !important;
}
.head-col-2{
margin-left: -2.5rem;
}
}

@media(min-width: 420px){
.jumbotron-fluid{
margin-bottom: 3rem !important;
}
.head-col-2{
margin-left: -2.8rem;
}
}

@media(min-width: 438px){
.head-col-2{
margin-left: -3.0rem;
}
}

@media(min-width: 455px){
.head-col-2{
margin-left: -3.2rem;
}
}

@media(min-width: 479px){
.head-col-2{
margin-left: -3.4rem;
}
}

@media(min-width: 496px){
.head-col-2{
margin-left: -3.6rem;
}
}

@media(min-width: 513px){
.head-col-2{
margin-left: -3.7rem;
}
}

@media(min-width: 523px){
.head-col-2{
margin-left: -3.9rem;
}
}

@media(min-width: 539px){
.head-col-2{
margin-left: -4.1rem;
}
}

@media(min-width: 560px){
.head-col-2{
margin-left: -4.3rem;
}
}

@media(min-width: 576px){
.head-col-2{
margin-left: -3.8rem;
}
.body-container{
  left: 4.2rem;
  right: 4.2rem;
}
}


@media(min-width: 581px){
.head-col-1{
margin-left: 0rem;
}
.head-col-2{
margin-left: -4.6rem;
}
.body-container{
  left: 4.2rem;
  right: 4.2rem;
}
}
@media(min-width: 590px){
.head-col-2{
margin-left: -3.9rem;
}
}
@media(min-width: 597px){
.head-col-2{
margin-left: -3.6rem;
}
}

@media(min-width: 640px){
.head-col-1{
margin-left: 2.3rem;
}
.head-col-2{
margin-left: -5.5rem;
}
.body-container{
  left: 4.8rem;
  right: 4.8rem;
}
}


@media(min-width: 650px){
.head-col-2{
margin-right: -2.8rem;
margin-left: -5.4rem;
}
.body-container{
  left: 4.6rem;
  right: 4.6rem;
}
}

@media(min-width: 665px){
.head-col-2{
margin-right: -3.5rem;
margin-left: -4.6rem;
}
}

@media(min-width: 720px){
.head-col-1{
margin-left: 2.9rem;
}
.head-col-2{
margin-right: -9.0rem;
margin-left: -2.2rem;
}
.body-container{
  top: .3rem;
  left: 5.2rem;
  right: 5.2rem;
}
}

@media(min-width: 730px){
.head-col-2{
margin-left: -1.7rem;
}
}


@media(min-width: 768px){
.jumbotron-fluid {
  margin-bottom: 16.5rem !important;
  }
.head-col-1{
  height: 170px;
margin-left: .4rem;
}
.head-col-2{
  height: 170px;
margin-right: -1.0rem;
margin-left: -7.9rem;
}
.body-container{
  top: .2rem;
  left: 3.7rem;
  right: 3.7rem;
}
}


@media(min-width: 812px){
.jumbotron-fluid{
margin-bottom: 0rem !important;
}
.head-col-1{
margin-left: .7rem;
}
.head-col-2{
margin-left: -8.9rem;
}
.body-container{
  left: 4rem;
  right: 4rem;
}
}


@media(min-width: 1024px){
.jumbotron-fluid {
  margin-bottom: 28rem !important;
  }
.head-col-1{
height: 180px;
margin-left: .8rem;
}
.head-col-2{
height: 180px;
margin-left: -9.8rem;
}
.body-container{
  left: 7.6rem;
  right: 7.6rem;
}
}


@media(min-width: 1080px){
.head-col-2{
margin-left: -10.0rem;
}
}
@media(min-width: 1200px){
.jumbotron-fluid{
margin-bottom: 0rem !important;
}
.head-col-1{
margin-left: 4.8rem;
}
.head-col-2{
margin-left: -10.4rem;
}
}


@media(min-width: 1280px){
.jumbotron-fluid{
margin-bottom: 0rem !important;
}
.head-col-1{
height: 200px;
margin-left: 5.8rem;
}
.head-col-2{
height: 200px;
margin-left: -11.4rem;
}
.body-container{
  top: -3.5rem;
  left: 8.9rem;
  right: 8.9rem;
  margin-top: -4.8rem;
}
}
@media(min-width: 1448px){
.head-col-1{
margin-left: 6.4rem;
}
}
